@import './partials/header';
@import './partials/general';
@import './partials/footer'; 
@import './partials/variables';
@import './partials/main';
@import './partials/responsive';

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    }