header {
    margin: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    margin: 0;

    nav{
        background-image: linear-gradient(white 80%,rgb(230, 230, 230));
        ul {
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr 1fr;
            list-style: none;
            padding: 0;
            margin: 0 100px;
            position: relative;
            
    
            .line {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                width: 100%;
                background-color: green;
                transition: all .15s ease-in-out;
            }
        }
        
        li {
            display: flex;
            background-image: linear-gradient(white 80%,rgb(230, 230, 230));
            justify-content: center;
            align-items: center;

            a {
                display: flex;
                color: black;
                padding: 10px 20px;
                text-decoration: none;
                width: 1fr;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                background-image: linear-gradient(white, rgb(117, 255, 117), green);
            }
        }
        
        li:first-child:hover ~ span.line {
            left: 0px;
            width: 20%;
        } 

        li:nth-child(2):hover ~ span.line {
            left: 20%;
            width: 20%;
        }
        
        li:nth-child(3):hover ~ span.line {
            left: 40%;
            width: 20%;
        }

        li:nth-child(4):hover ~ span.line {
            left: 60%;
            width: 20%;
        }

        li:nth-child(5):hover ~ span.line {
            left: 80%;
            width: 20%;
        }
    }
    
}