@import './variables';

main {
    font-family: "Space Grotesk", sans-serif;
    h2 {
        display: flex;
        justify-content: center;  
        font-size: 2.5rem;    
    }
}

.top {
    display: flex;
    padding: 6rem 0;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;    
    
    .greeting_text_heading {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: 2rem;

            strong {
                display: flex;
                padding-left: 1rem;
                justify-content: center;
                align-items: center;
            }
    }

    .greeting_filling {
        display: flex;
        align-items: center;
        padding: 0 9rem;

        .greeting_text {
            font-size: 1.5rem;
            margin-right: 3rem;
        }

        .greeting_img {
            margin: 2rem 0;
            img{
                width: 15rem;
                max-height: 25rem;
                border-radius: 50%;
                border-color: red;
            }
        }
    }
}

#projects {
    margin: 5rem 0;
    padding-top: 3rem;

    .project_grid {
        display: grid;
        padding: 0 10rem;

        h3 {
            font-size: 2rem;
            color: $heading-color;
            font-style: $heading-style-font;
        }

        .project_grid_filling {
            display: grid;
            grid-template-columns: 8fr 2fr;
            p {
                width: 90%;
                font-size: 1.5rem;
            }

            img {
                justify-self: start;
                align-self: center;
                width: 8rem;
            }
        }
        
    }
}

.solid {
    background-color: green;
}

#skills {
    margin: 5rem 0;
    padding-top: 3rem;

    .skills_filling {
        display: flex;
        padding: 0 10rem;

        .skill_text {
            width: 60%;
            p {
                font-size: 1.5em;
            }
        }

        .individual_skills {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;

            h4 {
                margin: 10px 0 0;
            }

            .program {
                padding: .5rem 1rem;
            }
            
            img {
            display: flex;
            align-self: center;
            justify-self: center;
            width: 4rem;
            }

            h4 {
                display: flex;
                align-self: center;
                justify-self: center;
            }

        }

    }

}

#work_experience {
    margin: 5rem 0;
    padding-top: 3rem;

    .experience{
        padding: 0 10rem;

        .individual_experience {
            .webdev_diploma {
                display: flex;
                margin: 4rem 0;

                .date_and_logo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    p {
                         margin-bottom: 0;
                    }

                    div img {
                        margin: 1rem 1rem;
                        width: 10rem;
                    }
                }

                .title_and_description {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    p {
                        margin: 0 2rem;
                    }
                }
            }
        }
    }
}

#about {
    margin: 5rem 0;
    padding-top: 3rem;

    .about_content {
        display: flex;
        flex-wrap:wrap;
        padding: 0 10rem;
        
        h3{
            font-size: 1.5rem;
            color: $heading-color;
            font-style: $heading-style-font;
        }

        .about_filling {
            display: flex;
            align-items: center;
            .about_text {
                padding-right: 3rem;
                font-size: 1.2rem;
                width: 170%;
            }
    
            .about_image {
                display: flex;
                justify-content: center;
                align-self: flex-start;
                width: fit-content;
                min-width: 5rem;

                img{
                    height: auto;
                    width: 100%;
                    border-radius: 30%;
                }
            }
        }
    }
}

#contact {
    margin: 5rem 0;
    padding: 3rem 10rem 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;


    
    .contact_text {
        align-self: center;
        font-size: 2rem;
    }
    .socials {
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 2rem;

        a {
            img {
                width: 3rem;
                margin: 2rem;
            }
        }

    }
}

.back-to-top-btn {
    background-color: rgba(0, 128, 0, 0.255);
    border-radius: 25%;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    
    a {
        color: white;

        .material-symbols-outlined {
            font-size: 1.5rem;
            padding: 1.2rem;

            &:hover {
                font-size: 2rem;
                transition: all .25s ease-in-out;
            }
        }    
    }

    &:hover {
        background-color: green;;
        transition: all .25s ease-in-out;
    }
}